.background-image {
    background-image: url("../img/background_image.png");
    background-size: 113% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    animation-name: slide-in-right;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    overflow: hidden;
    position: relative;
}

.background-image__smoke {
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100%; 
    top: 0;
	background: url("../img/smoke.png") no-repeat;
    background-position: center;
    // animation: marquee 10s linear infinite;
}

.background-image__leaner {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #D9D9D9;
    animation-name: line-to-square;
    animation-duration: 1s;
    animation-fill-mode:forwards
}

.background-image__leaner::after {
    content: "";
    z-index: 9999;
    position: absolute;
    background-color: #D9D9D9;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    top: -4px;
    left: -2px;
}

.background-image__leaner::before {
    content: "";
    z-index: 9999;
    position: absolute;
    background-color: #D9D9D9;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: -4px;
    border-radius: 100%;
    animation-name: circle-to-square;
    animation-duration: 2s;
    animation-fill-mode:forwards
}

@keyframes line-to-square {
    from {
      width: 2px;
      height: 0px;
    }
    to {
      width: 2px;
      height: 597px;
    }
  }

@keyframes circle-to-square {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -200px;
    }
  }

  @keyframes marquee {
    from {
        transform: translate3d(0, 0, 0); 
    }
    to {
        transform: translate3d(-200vw, 0, 0);
    }
}
