.form {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.form__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: 959px) {
		flex-direction: column;
        row-gap: 30px;
	}
}

.form__inner-button {
    align-self: flex-end;

    @media (max-width: 959px) {
        align-self: auto;
	}
}

.form__block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-bottom: 2px solid #262526;
    width: 100%;
    padding-bottom: 10px;
}

.form__title {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form__field {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder {
        color: #262526;
    }
}