.nav {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav__list {
    display: flex;
    gap: 30px;
}

.nav__link {
    color: #F2E1C2;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    &:hover {
        color: #F23207;
    }
}